/* You can add global styles to this file, and also import other style files */
$main-color:  rgb(185, 145, 80);
$second-color:  rgb(255, 175, 24);
.white-box {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  padding: 16px 0 15px 0;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Muller;
  src: url("./assets/fonts/MullerRegular.otf");
}

@font-face {
  font-family: MullerBold;
  src: url("./assets/fonts/MullerBold.otf");
}

@font-face {
  font-family: MullerExtraBold;
  src: url("./assets/fonts/MullerExtraBold.otf");
}

body {
  font-family: Muller, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: $second-color;
  width: 224px;
  height: 60px;
  cursor:pointer;
  outline: none;
  border: 0;
  padding: 22px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: MullerBold, sans-serif;
  color: rgb(56, 36, 0);
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.btn.btn-white {
  background: transparent;
  border: 1px solid $second-color;
  color: $second-color;
}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, 0.5);
}

.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #ffaf18;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  0% {transform: rotate(360deg)}
}


/* 1024 - 1229 */
$main-color:  rgb(185, 145, 80);
$second-color:  rgb(255, 175, 24);







.main {
  padding: 132px 0 81px 0 ;
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-info {
  max-width: 622px;
  transition: all 800ms ease-in-out;
}

.animate {
  transform: translateX(0);
}

.main-img {
  transition: all 800ms ease-in-out;
}

.animate-2 {
  transform: translateX(0);
}

.main-info h1 {
  font-size: 45px;
  font-family: MullerExtraBold, sans-serif;
  line-height: 1.222;
}

.double-title {
  color: $main-color;
}

.double-title span {
  color: #ffaf18;
}

.main-advantages {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage {
  max-width: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px ;
}

.advantage-text {
  margin-left: 16px;
}

.advantage-title {
  font-size: 16px;
  color: $main-color;
  font-family: MullerExtraBold, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 16px;
  color: $main-color;
}

.main-action {
  margin-top: 60px;
}


.order {
  padding: 120px 0 115px 0;
  overflow: hidden;
}

.order .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order-text {
  max-width: 384px;
}

.order-text-title {
  font-size: 35px;
  font-family: MullerExtraBold, sans-serif;
  margin-bottom: 65px;
}

.order-text-message {
  font-size: 16px;
  font-family: Muller, sans-serif;
  color: rgb(185, 145, 80);
  line-height: 1.5;
}

.order-form {
  margin-left: 122px;
  max-width: 330px;
}

.order-input {
  border-width: 1px;
  border-color: rgb(185, 145, 80);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 330px;
  font-size: 18px;
  color: rgb(119, 94, 49);
  padding: 23px 22px 24px 22px;
  margin-bottom: 24px;
  box-sizing: border-box;
  height: 60px;
  outline: none;
}

.order-input::placeholder {
  color: rgb(203, 168, 110);
}

.order .btn {
  width: 330px;
  height: 60px;
}

.order-img {
  width: 282px;
  position: relative;
  margin-left: 78px;
}


.order-img img {
  position: absolute;
  bottom: -35px;
  left: 0;
}

.footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 13.8px 1.2px rgba(152, 152, 152, 0.2);
  padding: 16px 0 15px 0;
}

.footer .container {
  display: flex;
  align-items: center;
}

.rights {
  font-size: 12px;
  color: rgb(186, 179, 179);
  margin-left: 358px;
}


.products {
  padding: 80px 0 120px 0;
}

.products-title {
  font-size: 35px;
  font-family: MullerBold, sans-serif;
  color: rgb(189, 152, 92);
}

.products-items {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}





.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-img {
    width: 400px;
  }

  .main-img img {
    max-width: 100%;
  }

  .products-items {
    justify-content: center;
  }



  .order-form {
    margin-left: 45px;
  }

  .order .container {
    max-width: 1024px;
  }

}

/* 768 - 1024 */
@media screen and (max-width: 1023px) {

  .menu ul {
    width: 420px;
  }

  .main .container {
    flex-direction: column;
  }

  .main-img {
    order: 1;
  }

  .main-info {
    order: 2;
  }

  .main {
    margin-top: 70px;
  }

  .main-info h1 {
    text-align: center;
  }

  .main-action .btn {
    text-align: center;
  }

  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .order {
    padding-top: 60px;
    position: relative;
  }

  .order-img {
    position: absolute;
    z-index: -1;
    right: calc(50% - 400px);
  }

  .order-img img {
    position: relative;
  }

  .order .container {
    /*justify-content: center;*/
  }
}

/* 424 - 767 */
@media screen and (max-width: 767px) {
  .footer .container {
    justify-content: space-between;
  }

  .rights {
    margin-left: 0;
  }

  .header .container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 390px;
  }

  .menu {
    order: 3;
    margin-top: 15px;}

  .menu ul {
    width: 390px;
  }

  .cart {
    margin-left:20px
  }

  .main-info h1 {
    line-height: 45px;
  }

  .main-advantages {
    margin-left: auto;
    margin-right: auto;
  }

  .main-action  {
    text-align: center;
  }

  .order .container {
    flex-direction: column;
    align-items: center;
  }

  .order-text-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-text-message {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-form {
    margin-left: 0;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 656px) {
  .main-advantages {
    max-width: 306px;
  }
}

/* 374 - 424 */
@media screen and (max-width: 424px) {
  .main-img {
    width: 100%;
  }
  .menu {
    display: none;
  }


  .menu {

    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .menu-item {
    margin: 15px 0;
  }

  .burger {
    display: block;
  }

  .burger svg {
    width: 36px;
    height: 36px;
    fill: #fad7a7;
    margin-right: 20px;
  }

  .menu.open {
    display: flex;
    align-items: center;
  }

  .menu .close {
    display: block;
    width: 24px;
    height: 24px;
    fill: rgb(164, 107, 0);
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

/* 320 - 373 */
@media screen and (max-width: 374px)  {
  .main-info h1 {
    font-size: 38px;
  }

  .order-form {
    align-items: center;
  }

  .order-input {
    width: 290px;

  }

  .order .btn {
    width: 290px;
  }

  .rights {
    margin-left: 20px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
